<div class="box wide">
  <div class="legend">
    <%= t(".legend") %>
  </div>

  <table class="data" width="100%" cellspacing=0>
  <tr>
    <th width="15%"><%= t(".datetime") %></th>
    <th width="10%"><%= t(".moderator") %></th>
    <th width="75%"><%= t(".changes_reason") %></th>
  </tr>
  <% bit = 0 %>
  <% @moderations.each do |mod| %>
    <tr class="row<%= bit %> nobottom">
      <td><%= mod.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><a href="/messages?to=<%= mod.moderator.try(:username) %>"><%=
        mod.moderator.try(:username) %></a></td>
      <td><% if mod.story %>
          <a href="<%= mod.story.comments_url %>"><%= t(".story", title: mod.story.title) %></a>
        <% elsif mod.comment %>
          <a href="<%= mod.comment.url %>"><%= t(".comment", title: mod.comment.story.title) %></a>
        <% elsif mod.user %>
          <%= t(".user", name: mod.user.try(:username)) %>
        <% end %></td>
    </tr>
    <tr class="row<%= bit %> <%= mod.reason.present?? "nobottom" : "" %>">
      <td colspan=2></td>
      <td><%= t(".action") %> <em><%= mod.action %></em></td>
    </tr>
    <% if mod.reason.present? %>
      <tr class="row<%= bit %>">
        <td colspan=2></td>
        <td><%= t(".reason") %> <em><%= mod.reason %></em></td>
      </tr>
    <% end %>
    <% bit = (bit == 1 ? 0 : 1) %>
  <% end %>
  </table>
</div>

<div class="morelink">
  <% if @page > 1 %>
    <a href="/moderations/page/<%= @page - 1 %>">&lt;&lt; <%= t(".page", page_no: @page - 1) %></a>
  <% end %>

  <% if @pages > 1 && @page < @pages %>
    <% if @page > 1 %>
      |
    <% end %>
    <a href="/moderations/page/<%= @page + 1 %>"><%= t(".page", page_no: @page + 1) %> &gt;&gt;</a>
  <% end %>
</div>
