<div class="box wide">
  <div class="legend" style="float: right;">
    <% if @message.author_user_id == @user.id %>
      <a href="/messages/sent"><%= t(".back_to_sent_messages") %></a>
    <% else %>
      <a href="/messages"><%= t(".back_to_messages") %></a>
    <% end %>
  </div>

  <div class="legend">
    <%= @message.subject %>

    <div class="sublegend">
      <%= t(".sent_from_html", user_a: link_to(@message.author.username, "/u/#{@message.author.username}"), 
        user_type: user_type(@message.author), user_b: link_to(@message.recipient.username, "/u/%{@message.recipient.username}"), 
        time: raw(time_ago_in_words_label(@message.created_at))) %>
    </div>
  </div>

  <div class="boxline comment_text">
    <%= raw @message.linkified_body %>
  </div>

  <br>

  <div class="boxline">
    <div style="float: left;">
      <%= form_tag message_url(@message.short_id), :method => :delete do %>
        <%= submit_tag t(".delete") %>
      <% end %>
    </div>

    <div style="float: left; padding-left: 1em;">
      <%= form_tag message_url(@message.short_id) + "/keep_as_new",
      :method => :post do %>
        <%= submit_tag t(".keep") %>
      <% end %>
    </div>
  </div>

  <div style="clear: both;"></div>

  <br>

  <div class="legend">
    <%= t(".compose", user: @new_message.recipient_username) %>
  </div>

  <%= form_for @new_message, :method => :post do |f| %>
    <%= f.hidden_field :recipient_username %>

    <%= error_messages_for @new_message %>

    <div class="boxline">
      <%= f.text_field :subject, :style => "width: 500px;",
        :autocomplete => "off" %>
    </div>

    <div class="boxline">
      <%= f.text_area :body, :style => "width: 500px;", :rows => 5,
        :autocomplete => "off" %>
    </div>

    <div class="boxline">
      <p></p>
      <%= submit_tag t(".send") %>
    </div>
  <% end %>
</div>
