<p>
  <%= t(".notice_html", user_tree: link_to(t(".user_tree"), u_path )) %>
</p>

<%= form_tag "/invitations", :method => :post do |f| %>
  <% if defined?(return_home) && return_home %>
    <%= hidden_field_tag :return_home, 1 %>
  <% end %>

  <div class="boxline">
    <%= label_tag :email, t(".email"), :class => "required" %>
    <%= text_field_tag :email, "", :size => 30, :autocomplete => "off" %>
  </div>

  <div class="boxline">
    <%= label_tag :memo, t(".memo"), :class => "required" %>
    <%= text_field_tag :memo, "", :size => 60 %>
  </div>

  <div class="boxline">
    <p></p>
    <%= submit_tag t(".send_invitaion") %>
  </div>
<% end %>

