<div class="box wide">
  <div class="legend right">
    <a href="/u/<%= @user.username %>"><%= t(".profile") %></a>
  </div>
  <div class="legend">
    <%= t(".legend") %>
  </div>

  <%= form_for @edit_user, :url => settings_url, :method => :post,
  :html => { :id => "edit_user" } do |f| %>
    <%= error_messages_for f.object %>

    <div class="boxline">
      <%= f.label :username, t(".username"), :class => "required" %>
      <%= f.text_field :username, :size => 15 %>
      <span class="hint">
        <tt>[A-Za-z0-9][A-Za-z0-9_-]*</tt>
      </span>
    </div>

    <div class="boxline">
      <%= f.label :password, t(".new_password"), :class => "required" %>
      <%= f.password_field :password, :size => 40, :autocomplete => "off" %>
    </div>

    <div class="boxline">
      <%= f.label :password_confirmation, t(".confirm_password"),
        :class => "required" %>
      <%= f.password_field :password_confirmation, :size => 40,
        :autocomplete => "off" %>
    </div>

    <div class="boxline">
      <%= f.label :email, t(".email"), :class => "required" %>
      <%= f.text_field :email, :size => 40 %>
      <span class="hint">
        <%= t(".gravatarized_html", gravatar: link_to("Gravatar", "http://www.gravatar.com/", target: "_blank")) %>
      </span>
    </div>

    <div class="boxline">
      <%= f.label :pushover_user_key,
        raw("<a href=\"https://pushover.net/\">Pushover</a> User Key:"),
        :class => "required" %>
      <%= f.text_field :pushover_user_key, :size => 40 %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_device, t(".pushover_device"),
        :class => "required" %>
      <%= f.text_field :pushover_device, :placeholder => "optional",
        :size => 15 %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_sound, t(".pushover_sound"),
        :class => "required" %>
      <%= f.select :pushover_sound, Pushover.sounds.map{|k,v| [ v, k ] } %>
    </div>

    <div class="boxline">
      <%= f.label :about, t(".about"), :class => "required" %>
      <%= f.text_area :about, :size => "100x5", :style => "width: 600px;" %>
    </div>

    <div class="box">
      <div class="boxline markdown_help_toggler" style="margin-left: 9em;
      width: 600px;">
        <div class="markdown_help_label">
          <%= t(".markdown") %>
        </div>

        <div style="clear: both;"></div>

        <%= render :partial => "global/markdownhelp" %>
      </div>
    </div>

    <div class="legend">
      <%= t(".comment_reply_notification") %>
    </div>

    <div class="boxline">
      <%= f.label :email_replies, t(".receive_email"), :class => "required" %>
      <%= f.check_box :email_replies %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_replies, t(".receive_pushover"),
        :class => "required" %>
      <%= f.check_box :pushover_replies %>
      <span class="hint">
        <%= t(".require_user_key") %>
      </span>
    </div>

    <br>

    <div class="legend">
      <%= t(".comment_mention_notification") %>
    </div>

    <div class="boxline">
      <%= f.label :email_mentions, t(".receive_email"), :class => "required" %>
      <%= f.check_box :email_mentions %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_mentions, t(".receive_pushover"),
        :class => "required" %>
      <%= f.check_box :pushover_mentions %>
      <span class="hint">
        <%= t(".require_user_key") %>
      </span>
    </div>

    <br>

    <div class="legend">
      <%= t(".private_message_notification") %>
    </div>

    <div class="boxline">
      <%= f.label :email_messages, t(".receive_email"), :class => "required" %>
      <%= f.check_box :email_messages %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_messages, t(".receive_pushover"),
        :class => "required" %>
      <%= f.check_box :pushover_messages %>
      <span class="hint">
        <%= t(".require_user_key") %>
      </span>
    </div>

    <br>

    <div class="legend">
      <%= t(".mail_list") %>
    </div>

    <p>
      <%= t(".mail_list_html", tag_filters: link_to(t(".tag_filters"), filters_path )) %>
    </p>

    <div class="boxline">
      <%= f.label :mailing_list_mode, t(".receive_list"),
        :class => "required" %>
      <%= f.select :mailing_list_mode, [ [ t(".no_emails"), 0 ],
        [ t(".stories_and_comments"), 1 ], [ t(".only_stories"), 2 ] ] %>
    </div>

    <div class="boxline">
      <label class="required"><%= t(".list_address") %></label>
      <span>
      <tt><%= Rails.application.shortname %>-<%=
        @edit_user.mailing_list_token %>@<%= Rails.application.domain %></tt>
      </span>
    </div>

    <br>
    <%= f.submit t(".save_settings") %>
  <% end %>

  <br>
  <br>

  <%= form_for @edit_user, :url => delete_account_url, :method => :post,
  :html => { :id => "delete_user" } do |f| %>
    <div class="legend">
      <%= t(".delete_account") %>
    </div>

    <p>
     <%= t(".delete_account_hint") %>
    </p>

    <div class="boxline">
      <%= f.label :password, t(".verify_password"), :class => "required" %>
      <%= f.password_field :password, :size => 40, :autocomplete => "off" %>
    </div>

    <br>
    <%= f.submit t(".delete_submit") %>
  <% end %>

  <br>
  <br>

  <a name="invite"></a>
  <div class="legend">
    <%= t(".invite_new_user") %>
  </div>

  <%= render :partial => "users/invitationform" %>
</div>
