<div class="box wide">
  <div class="legend">
    <%= t('.request') %>
  </div>

  <p>
    <%= t('.note_html', :existing_user => link_to( t('.existing_user'), u_path)) %>
  </p>

  <p>
    <%= t('.instruction') %>
  </p>

  <%= form_for @invitation_request,
  :url => create_invitation_by_request_url do |f| %>
    <p>
    <%= f.label :name, t('.name') %>
    <%= f.text_field :name, :size => 30 %>
    <br />

    <%= f.label :email, t('.email') %>
    <%= f.text_field :email, :size => 30 %>
    <br />

    <%= f.label :memo, t('.url') %>
    <%= f.text_field :memo, :size => 30 %>
    <br />
    <label></label>
    <span class="na"> <%= t('.url_note') %> </span>
    </p>

    <p>
    <%= submit_tag t('.request_invitation') %>
    </p>
  <% end %>
</div>
