<div class="box wide">
  <div class="legend">
    <%= t(".legend") %>
  </div>

  <p>
    <%= t(".instruction") %>
  </p>

  <table class="data" width="100%" cellspacing=0>
  <tr>
    <th width="15%"><%= t(".datetime") %></th>
    <th width="20%"><%= t(".name") %></th>
    <th width="40%"><%= t(".memo") %></th>
    <th width="15%"></th>
    <% if @user.is_moderator? %>
      <th></th>
    <% end %>
  </tr>
  <% bit = 0 %>
  <% @invitation_requests.each do |ir| %>
    <tr class="row<%= bit %>">
      <td><%= ir.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%= ir.name %>
        <% if @user.is_moderator? %>
          <br>
          <em><%= ir.email %></em>
        <% end %></td>
      <td><%= raw ir.markeddown_memo %></td>
      <td><%= form_tag send_invitation_for_request_url do %>
        <%= hidden_field_tag "code", ir.code %>
        <%= submit_tag t(".invite"), :data => { :confirm => t(".invite_confirm")} %>
      <% end %></td>
      <% if @user.is_moderator? %>
        <td><%= form_tag delete_invitation_request_url do %>
          <%= hidden_field_tag "code", ir.code %>
          <%= submit_tag t(".delete"), :data => { :confirm => t(".delete_confirm") } %>
        <% end %></td>
      <% end %>
    </tr>
    <% bit = (bit == 1 ? 0 : 1) %>
  <% end %>
  <% if @invitation_requests.count == 0 %>
    <tr>
      <td colspan=<%= @user.is_moderator?? 5 : 4 %> align="center"><span
        class="na"><%= t(".no_requests") %></span></td>
    </tr>
  <% end %>
  </table>
</div>
