<div class="box wide">
  <div class="legend">
    <%= t('.reset') %>
  </div>

  <p>
    <%= t('.note') %>
  </p>

  <%= form_tag reset_password_url do %>
    <%= label_tag :email, t('.email') %>
    <%= text_field_tag :email, "", :size => 30 %>
    <br />

    <p>
    <%= submit_tag t('.reset') %>
    </p>
  <% end %>
</div>
