<div class="box wide">
  <div class="legend">
    <%= t(".legend") %>
  </div>

  <p>
  <%= t(".hide_stories") %>
  </p>

  <% if !@user %>
    <p>
    <%= t(".stored_in_cookie_html", login: link_to(t(".login"), login_path )) %>
    </p>
  <% end %>

  <%= form_tag "/filters", :method => :post do %>
    <table class="data zebra" cellspacing=0 width="75%">
    <tr>
      <th width="7%"><%= t(".hide") %></th>
      <th width="13%"><%= t(".tag") %></th>
      <th width="65%"><%= t(".description") %></th>
      <th width="5%" style="text-align: right; padding-right: 1em;"><%= t(".stories") %></th>
    </tr>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= check_box_tag "tags[]", tag.tag,
          @filtered_tags.include?(tag) %></td>
        <td><%= link_to tag.tag, tag_path(tag), :class => tag.css_class %></td>
        <td><%= tag.description %></td>
        <td style="text-align: right; padding-right: 1em;"><%=
          tag.stories_count %></td>
      </tr>
    <% end %>
    </table>
    <p>
    <%= submit_tag t(".save") %>
    </p>
  <% end %>
</div>
